@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.conteyner {
    width: 1120px;
    margin: auto;
}

.frame {
    margin-bottom: 100px;
}


.frame_menu {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.frame_right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.frame_menu_left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.frame_text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;

    color: #000000;
    transition: .5s;
    cursor: pointer;
}

.frame_text:hover {
    transition: .5s;
    border-bottom: 0.9px solid #000000;
}

.frame_menu_right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left_button {
    width: 90px;
    height: 50px;
    border: 1px solid #000000;
    background: #ffff;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    transition: .5s;
}

.left_button:hover {
    transition: .5s;
    background: #000000;
    color: #ffff;
}

.right_button {
    width: 180px;
    height: 50px;
    border: none;
    background: #000000;
    color: #ffff;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    transition: .5s;
}

.right_button:hover {
    transition: .5s;
    border: 1px solid #000000;
    background: #ffff;
    color: #000000;
}

.frama {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.frama_left {
    margin-top: 110px;
}


.frama_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #000000;
}

.frama_text__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
}

.frama_botton {
    margin-top: 80px;
}

.frama_text_p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.frama_btn {
    width: 150px;
    height: 60px;
    border-radius: 100px;
    border: none;
    color: #ffff;
    background: #000000;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    transition: .5s;
}

.frama_btn:hover {
    transition: .5s;
    background: #ffff;
    border: 1px solid #000000;
    color: #000000;
}


.play_smoll {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.play_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    color: #000000;
}

.play_p {
    padding-top: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.emmer_smoll {
    margin-bottom: 100px;
}

.emmer_top {
    display: flex;
    justify-content: start;
    align-items: center;
}

.emmer_text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
}

.emmer_medium {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.m_left_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.m_left_p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.e_botton_button {
    margin-top: 70px;
    width: 230px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background: #F7B2B7;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.e_botton_button:hover {
    transition: .5s;
    color: #fe939c;
    background: #ffff;
    border: 1px solid #F7B2B7;
}

.desktop_smoll {
    background: #FDECED;
    padding-bottom: 50px;
}

.desktop_top_text {
    padding-top: 80px;
    padding-left: 100px;
    margin-bottom: 80px;
}

.desktop_top_h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
}

.desktop_left {
    padding-left: 100px;
}

.desktop_smoll_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}

.desktop_smoll_p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.desktop_medium {
    display: flex;
    align-items: center;
    gap: 30px;
}

.olf {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    margin-left: 80px;
}

.olf_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
}

.tech_smoll {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texh_text_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 57px;
    color: #000000;
}

.tech_smoll_p {
    padding-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.tech_btn {
    margin-top: 60px;
    width: 140px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background: #F7B2B7;
    font-family: var(--font-family);
    font-size: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    transition: .5s;
}

.tech_btn:hover {
    transition: .5s;
    border: 1px solid #F7B2B7;
    background: #ffff;
}

.sunny_smoll {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunny__smoll {
    width: 950px;
    border-radius: 10px;
    background: #8BD4D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
}

.sunny__smoll_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.sunny__smoll_p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.sunny__smoll_button {
    width: 150px;
    height: 50px;
    border-radius: 100px;
    background: #000000;
    border: none;
    color: #ffff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    transition: .5s;
}

.sunny__smoll_button:hover {
    transition: .5s;
    background: #8BD4D6;
    color: #000000;
    border: 1px solid #000000;
}

.pot_smoll {
    background: #302E3F;
    padding-bottom: 30px;
}

.pot_smoll_top_img {
    display: flex;
    gap: 15px;
    padding-top: 50px;
    margin-left: 100px;
}

.pot_smoll_top_h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #ffff;
}

.pot__botton {
    padding-left: 100px;
    padding-top: 50px;
    display: flex;
    gap: 40px;
}

.pot_left_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #ffff;
}

.pot_left_p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 18.2px;
    color: #C5E9EA;
    cursor: pointer;
}

.pot_righ {
    padding-top: 50px;
    padding-left: 100px;
}

.pot_smoll_botton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

.pot_smoll_button {
    display: flex;
    gap: 15px;
}









@media(max-width:575px) {
    .frame__menu {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 150px;
        height: 100px;
    }

    .frama_right {
        text-align: center;
    }

    .frama__p {
        text-align: center;
    }

    .frama_button {
        text-align: center;
    }

    .frama_img {
        width: 370px;
        height: 300px;
    }

    .frama_smoll_left {
        text-align: center;
    }

    .frama_h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .play_left {
        text-align: center;
    }

    .play__img {
        width: 370px;
        height: 300px;
    }

    .play_right {
        text-align: center;
    }

    .play_h1 {
        font-size: 34px;
        line-height: 30px;
    }

    .frama_text__p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .play_p {
        padding-top: 30px;
        font-size: 24px;
        line-height: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .emmer_top {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .emmer_m_left {
        text-align: center;
        margin-bottom: 20px;
    }

    .emmer_m_right {
        text-align: center;
    }

    .emmer_botton {
        text-align: center;
    }

    .desktop_top_text {
        text-align: center;
        padding-top: 50px;
        padding-left: 0;
    }

    .desktop_left {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .desktop__medium {
        text-align: center;
        padding: 0;
    }

    .desktop_right {
        text-align: center;
        padding: 0;
    }

    .tech_left {
        margin-top: 50px;
        text-align: center;
    }

    .tech_right {
        text-align: center;
    }

    .texch_img {
        margin-top: 30px;
        width: 300px;
        height: 300px;
    }

    .sunny__smol {
        width: auto;
        text-align: center;
        border-radius: 10px;
        background: #8BD4D6;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pot_smoll_top_img {
        margin-left: 10px;
    }

    .pot__left {
        padding-top: 30px;
        text-align: center;
    }

    .pot_smoll_button {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}