@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.conteyner {
    width: 1120px;
    margin: auto;
}

.frame {
    margin-bottom: 100px;
}


.frame_menu {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
}

.frame_right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.frame_menu_left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.frame_text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;

    color: #000000;
    transition: .5s;
    cursor: pointer;
}

.frame_text:hover {
    transition: .5s;
    border-bottom: 0.9px solid #000000;
}

.frame_menu_right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left_button {
    width: 90px;
    height: 50px;
    border: 1px solid #000000;
    background: #ffff;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    transition: .5s;
}

.left_button:hover {
    transition: .5s;
    background: #000000;
    color: #ffff;
}

.right_button {
    width: 180px;
    height: 50px;
    border: none;
    background: #000000;
    color: #ffff;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    transition: .5s;
}

.right_button:hover {
    transition: .5s;
    border: 1px solid #000000;
    background: #ffff;
    color: #000000;
}

.frama {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.frama_left {
    margin-top: 110px;
}


.frama_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 70px;
    line-height: 82px;
    color: #000000;
}

.frama_text__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
}

.frama_botton {
    margin-top: 80px;
}

.frama_text_p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.frama_btn {
    width: 150px;
    height: 60px;
    border-radius: 100px;
    border: none;
    color: #ffff;
    background: #000000;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    transition: .5s;
}

.frama_btn:hover {
    transition: .5s;
    background: #ffff;
    border: 1px solid #000000;
    color: #000000;
}

.play_smoll {
    display: flex;
    align-items: center;
    gap: 100px;
}

.play_h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    color: #000000;
}

.play_p {
    padding-top: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}










@media(max-width:575px) {
    .frame__menu {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 150px;
        height: 100px;
    }

    .frama_right {
        text-align: center;
    }

    .frama__p {
        text-align: center;
    }

    .frama_button {
        text-align: center;
    }

    .frama_img {
        width: 370px;
        height: 300px;
    }

    .frama_smoll_left {
        text-align: center;
    }

    .frama_h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .play_left {
        text-align: center;
    }

    .play__img {
        width: 370px;
        height: 300px;
    }

    .play_right {
        text-align: center;
    }

    .play_h1 {
        font-size: 34px;
        line-height: 30px;
    }

    .play_p {
        padding-top: 30px;
        font-size: 24px;
        line-height: 30px;
    }
}